# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# App output
output_json/
input_images/
